@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?46ccy1');
	src:url('fonts/icomoon.eot?#iefix46ccy1') format('embedded-opentype'),
		url('fonts/icomoon.woff?46ccy1') format('woff'),
		url('fonts/icomoon.ttf?46ccy1') format('truetype'),
		url('fonts/icomoon.svg?46ccy1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-catapult:before {
	content: "\62";
}
.icon-menu:before {
	content: "\61";
}
.icon-arrow-right:before {
	content: "\63";
}
.icon-arrow-left:before {
	content: "\64";
}
